In [4]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv("../data/dataset_banco.csv")

print(f'Dataframe shape with NA values: {df.shape}')

df.dropna(inplace=True) # this drops NA values and updates the dataframe
df = df.dropna() # this is equivalent to the code line above

print(f'Dataframe shape with NA values: {df.shape}')

Dataframe shape with NA values: (45215, 17)
Dataframe shape with NA values: (45207, 17)